
body{
    margin: 0;

}
section{
    max-width: 65vw;
    margin: 0 auto;
    font-size: 16px;
    background-color: #fff;
    padding: 25px;
}
footer{
    margin: 35px 0;
}
p{
    line-height: 1.5;
}
header,
footer {
    background-color: #2b2a2b;
}
footer{
    padding: 35px 0;
}
nav {
    padding: 0 10vw;
}
.header-container{
    display: flex;
}
.header-block div:first-child{
    display: flex;
    align-items: center;
}
.header-block div:first-child p{
    padding-left: 25px;
}
.header-right p{
    margin: 5px 0;
}
.header-right{
    text-align: right;
}
.header-block div img{
     width: auto;
     max-height: 50px;
 }
.header-block div p{
    color: #e63823;
    font-size: 24px;
}
.header-right span{
    display: block;
    color: #fff;
    padding: 5px 0;
}
.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10vw;
}
.menu{
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    background-color: #2b2a2b;
    margin:0;
}
.menu li {
    padding: 10px 35px;
}
.menu li a{
      text-decoration: none;
      color: #fff;
      font-weight: 500;
      font-size: 18px;
  }
.menu li:hover {
    background-color: #e63823;
}

.coppyright{
    text-align: center;
}
.coppyright p{
    margin: 5px;
    line-height: 1;
    color: #fff;
}
img{
    width: 100%;
}
.company{
    display: flex;
}
.company div{
    width: 20%;
    padding: 0 15px;
}
.company-link{
    float: right;
}
.company-link a{
    text-decoration: none;
    color: #e63823;
}



/*table*/
.toggle .tabs {
  margin-top: 25px;
  width: 100%;
  overflow: hidden;
  height: 36px;
  line-height: 36px;
}
.toggle .tabs .tab {
  float: left;
  background: white;
  color: #777777;
  height: 31px;
  margin: 2px 8px 0;
  padding: 0 8px;
  cursor: pointer;
  width: 100px;
  text-align: center;
}
.toggle .tabs .tab.active {
  color: #dd4b39;
  border-bottom: 3px solid #dd4b39;
}
.toggle .panels .panel {
  padding: 20px 10px;
  display: none;
}
.toggle .panels .panel:first-child {
  display: block;
}
table {
    background: #fafafa;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: default;
}
table thead {
    border: 1px solid #222;
    border-right: 0;
    background: #333;
    cursor: pointer;
}
table thead tr th {
    color: #fff;
    padding: 10px;
    border-right: 1px solid #222;
}
table tbody {
    border-left: 1px solid #ccc;
}
table tbody tr {
    border-bottom: 1px solid #ccc;
}
table tbody tr:hover{
    background: #EBE2FA;
}
table tbody tr td {
    padding: 10px;
    border-right: 1px solid #ccc;
}
table tbody tr td:last-child{
    border-right: none;
}